.grid {
  padding: 0 48px 0 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(172.5px, 188.57px));
  justify-content: left;
  gap: 16px;
}

@media (max-width: 768px) {
  .grid {
    padding: 0 16px 0 16px;
    grid-template-columns: repeat(auto-fit, minmax(172.5px, 172.5px));
  }
}
