.wrapper {
  width: 100%;
  padding-top: var(--space-l);
  padding-right: var(--space-xxl);
  padding-bottom: var(--space-ll);
  padding-left: var(--space-xxl);
  background-color: var(--color-white);
}

.inputGroup {
  display: flex;
  align-items: center;
  border-bottom: var(--border-width-thin) solid var(--color-black);
  padding-bottom: var(--space-s);
}

.icon {
  font-size: 19.2px;
  color: #6b7280;
  margin-right: var(--space-s);
}

.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: var(--font-size-s);
  background-color: transparent;
  color: var(--color-black);
  text-transform: uppercase;
}

.result {
  margin-top: 12px;
  font-weight: 600;
  color: #374151;
  font-size: var(--font-size-xs);
}

@media (max-width: 768px) {
  .wrapper {
    padding-top: var(--space-s);
    padding-right: var(--space-m);
    padding-bottom: var(--space-s);
    padding-left: var(--space-m);
  }

  .title {
    padding-top: var(--space-0);
    padding-bottom: var(--space-0);
    padding-left: var(--space-m);
    padding-right: var(--space-m);
    font-size: var(--font-size-mm);
  }
}
