.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  background-color: var(--color-black);
  color: var(--color-white);
  height: 84px;
  padding: 28px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.borderBottom {
  border-bottom: var(--border-width-thin) solid var(--color-gray-dark);
}

@media (max-width: 768px) {
  .borderBottom {
    border-bottom: var(--border-width-thin) solid var(--color-black);
  }
}

.logo {
  width: 122px;
  height: 60px;
  object-fit: contain;
}

.fav {
  font-size: 15px;
  margin-left: var(--space-s);
  color: var(--color-white);
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

a svg {
  vertical-align: middle;
}
