.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 48px 0 48px 0;
}

.main {
  width: 100%;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(-30px);
  transition: all 0.35s ease-in-out;
}

.title {
  font-size: 32px;
  padding: 0 48px 0 48px;
}

.loaded {
  opacity: 1;
  transform: translateY(0);
}

.loadingBar {
  height: 6px;
  background-color: #ec1d24;
  width: 100%;
  animation: loadingSlide 3s ease-in-out infinite alternate;
}

@keyframes loadingSlide {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@media (max-width: 768px) {
  .main {
    padding: 24px 0 24px 0;
  }

  .title {
    padding: 0 24px 0 24px;
    font-size: 28px;
  }
}
