.loadingBar {
  height: 4px;
  background-color: #ec1d24;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  animation: grow 0.5s ease-out forwards;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}
